sudo: false
language: python
python:
  - "2.7"
  - "3.4"
  - "3.5"
  - "pypy"

env:
  - DJANGO=1.8.17
  - DJANGO=1.9.12
  - DJANGO=1.10.6
  - DJANGO=1.11.rc1

matrix:
  include:
  - python: "3.6"
    env: DJANGO=1.11.rc1

install:
  - "if [[ $TRAVIS_PYTHON_VERSION == '2.7' || $TRAVIS_PYTHON_VERSION == 'pypy' ]]; then pip install configparser; fi"
  - "if [[ $TRAVIS_PYTHON_VERSION != '2.7' && $TRAVIS_PYTHON_VERSION != 'pypy' ]]; then pip install hovercraft; fi"
  - "pip install -r requirements-test.txt"
  - "pip install -q Django==$DJANGO"
  - "pip install -e ."

# command to run tests using coverage, e.g. python setup.py test
script: coverage run --source waliki runtests.py

# report coverage to coveralls.io
after_success: coveralls
