{% extends "site_base.html" %}
{% load i18n %}
{% load waliki_tags %}

{% block header %}
    <div class="pull-right">
    {% block actions %}
        <div class="btn-group">
            <a href="{% url 'waliki_edit' slug=page.slug|default:slug %}" class="btn btn-default">{% trans "Edit" %}</a>
            <button class="btn dropdown-toggle btn-default" data-toggle="dropdown">
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
            <!-- dropdown menu links -->
            {% if page %}
                <li><a id="confirmDelete" class="text-error">{% trans "Delete" %}</a></li>
                {% extra_page_actions page %}
            {% endif %}
            </ul>
        </div>
    {% endblock actions %}
    </div>
    {% block title %}<h1>{{ page.title }}</h1>{% endblock title %}
{% endblock header %}

{% block content %}

    {% if page %}
        {{ page.body|safe }}
    {% else %}
        <p>{% trans "This page doesn't exist yet." %}</p>
        <p><a href="{% url 'waliki_edit' slug=page.slug|default:slug %}" class="btn btn-success">{% trans "Create it" %}</a></p>
    {% endif %}

 {% if page.footer %}
   <div id="footer">
   <hr>
   <div class="pull-right"><em><small>{{ page.footer|safe }}</small></em></div>
</div>
 {% endif %}
{% endblock content %}

{% block extra_script %}
<script type="text/javascript">
$('#confirmDelete').on('click', function() {

    bootbox.dialog("{% blocktrans with title=page.title %}
        Are you sure you want to delete {{title}}?
        {% endblocktrans %}",
                   [{"label": "{% trans "Cancel" %}},
                    {"label": "{% trans "Yes, delete" %}",
                     "callback": function(){
                        $('<form method=\"post\" action=\"./delete">').appendTo('body').submit()  },
                     "class":"btn-danger"}]);
});

</script>
{% endblock %}