{% extends "base.html" %}
{% load i18n %}
{% load waliki_tags %}


{% block body %}
    <h1>Waliki boxes example</h1>

        <div class="row" style="margin-top: 50px">
            <div class="col-sm-8">
                {% waliki_box "boxes/left" %}
            </div>
            <div class="col-sm-4">
                {% waliki_box "boxes/right" %}
            </div>
        </div>
        <!-- /.row -->
        <hr>
        <!-- Footer -->
        <div class="row">
            <div class="col-lg-12">
                {% waliki_box "boxes/footer/"|add:request.user.username %}
            </div>
        </div>
        <!-- /.row -->
    </div>


{% endblock %}