{% extends "base.html" %}
{% load staticfiles %}
{% load waliki_tags %}
{% load i18n %}
{% load account %}


{% block extra_style %}
 <link rel="stylesheet" type="text/css" href="{% static 'css/waliki_project.css' %}">
{% endblock %}

{% block navbar %}
        <div class="navbar navbar-fixed-top navbar-default">
            <div class="container">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 col-md-12"><div class="navbar-header"><a href="{% url 'waliki_home' %}" class="navbar-brand">{{ site_name|default:"Waliki" }}</a></div>

                            {% navbar_links %}

                            <ul class="nav pull-right navbar-nav">

                            <li><iframe src="http://ghbtns.com/github-btn.html?user=mgaitan&repo=waliki&type=watch&count=true&size=large" allowtransparency="true" frameborder="0" scrolling="0" width="160px" height="50px" style="padding-top: 10px;"></iframe>
                            </li>

                            {% if request.user.is_authenticated %}
                                <li class="dropdown">
                                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">{% user_display request.user %}
                                <span class="caret"></span></a>
                                    <ul role="menu" class="dropdown-menu">
                                        <li><a href="{% url "account_logout" %}?next={{ request.path }}" >{% trans "Log out" %}</a></li>
                                    </ul>
                                </li>
                            {% else %}
                                <li><a href="{% url "account_login" %}?next={{ request.path }}" >{% trans "Log in" %}</a></li>
                            {% endif %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endblock %}